# dependencies
node_modules
client/node_modules
server/node_modules

# env files (SECRET ⚠️)
.env
client/.env
server/.env

# logs
logs
*.log
npm-debug.log*

# build files
dist
build

# OS files
.DS_Store

# editor files
.vscode
.idea
